alabaster==0.7.13
altgraph==0.17.3
astroid==2.15.5
Babel==2.12.1
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
dill==0.3.6
docutils==0.20.1
exceptiongroup==1.1.1
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.2
mccabe==0.7.0
packaging==23.1
pefile==2023.2.7
pip==23.1.2
platformdirs==3.5.1
pluggy==1.0.0
Pygments==2.15.1
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pylint==2.17.4
pytest==7.3.1
pywin32-ctypes==0.2.0
requests==2.30.0
setuptools==58.1.0
snowballstemmer==2.2.0
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.5.0
urllib3==2.0.2
wheel==0.40.0
wrapt==1.15.0
